<div class="grid-item">
  <a href="{% if keynote.redirect %}{{ keynote.redirect }}{% else %}{{ keynote.url | relative_url }}{% endif %}">
    <div class="card hoverable">
      {% if keynote.img %}
      <div class="card-img">
        {% assign alt_text = "Photo of " | append: keynote.name %}
        {%
          include figure.liquid
          loading="eager"
          path=keynote.img
          sizes = "250px"
          alt=alt_text
        %}
      </div>  
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ keynote.name }} {{ keynote.surname }}</h4>
        <p class="card-text">{{ keynote.affiliation }}</p>
        <p class="card-text">{{ keynote.title }}</p>
      </div>
    </div>
  </a>
</div>
